@{
    ViewData["Title"] = "teste mvc";
}

<div class="text-center">
    </div>
<div class="carousel">
  <div class="carousel-item">
    <!-- Add your content here -->
  </div>
  <div class="carousel-item">
    <!-- Add your content here -->
  </div>
  <div class="carousel-item">
    <!-- Add your content here -->
  </div>
  <!-- Add more items as needed -->
  <a class="carousel-prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="carousel-next" onclick="plusSlides(1)">&#10095;</a>
</div>